<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ cityName }} - RooveeOSM</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <script src="sorttable.js" integrity="sha256-n3657FhpVO0BrpRmnXeQho7yfKvMVBh0QcoYkQr2O8w="></script>
</head>
<style>
    .red {
        color: red;
    }

    .svg {
        width: 20px;
        height: 20px;
    }
</style>
<body>
    <i>Updated: {{ timestamp }}</i> <br/>
    <span>
        Roovee locations ({{ countMismatches }}) where OpenStreetMap match has distance &gt; {{ distanceThreshold }} metres.
        <br/>
        <a href="{{ mapLink }}">Map</a>
        <a href="{{ kmlLink }}">KML</a>
        <a href="{{ csvLink }}">CSV in SCEE format</a>
    </span>
    <table class="sortable">
        <thead>
            <tr>
                <th>Roovee location</th>
                <th>OSM id (closest match)</th>
                <th>Distance (in meters)</th>
                <th>Name Roovee</th>
                <th>Name OSM</th>
                <th>Network</th>
                <th>Operator</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>
                    <a href="https://osm.org/?mlat={{ match.place.lat }}&mlon={{ match.place.lon }}#map=19/{{ match.place.lat }}/{{ match.place.lon }}">OSM</a>
                    <a target="hiddenIframe" href="http://localhost:8111/load_and_zoom?top={{ match.place.lat }}&bottom={{ match.place.lat }}&left={{ match.place.lon }}&right={{ match.place.lon }}">
                        <img src="./josm.svg" class="svg" alt="josm">
                    </a>
                </td>
                <td>
                    <a href="https://osm.org/{{ match.osmType }}/{{ match.osm.id }}">{{ match.osm.id }}</a>
                    <a target="hiddenIframe" href="http://localhost:8111/load_object?objects={{ match.osmType[0] ~ match.osm.id }}">
                        <img src="./josm.svg" class="svg" alt="josm">
                    </a>
                </td>
                <td {% if match.distance>distanceThreshold %}class="red"{% endif %}> {% if match.match == 'id' %}<b>{% endif %}{{ match.distance }}{% if match.match == 'id' %}</b>{% endif %}
                </td>
                <td>
                    {{ match.place.name }}
                </td>
                <td {% if match.ratio|float <= 0.8 %}class="red" {% endif %}>
                    {{ match.osm.tags.name|default("NONE") }}
                </td>
                <td {% if not match.osm.tags.network %}class="red" {% endif %}>
                    {{ match.osm.tags.network|default("NONE") }}
                </td>
                <td {% if not match.osm.tags.operator %}class="red" {% endif %}>
                    {{ match.osm.tags.operator|default("NONE") }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <i>Created using <a href="https://github.com/starsep/RooveeOSM">starsep/RooveeOSM</a></i>
    <iframe style="display:none;" id="hiddenIframe" name="hiddenIframe"></iframe>
</body>
</html>
